<div>
    <h2>Welcome to TechStorex</h2>
    <div>
        <div>
            <h3>Why choose us ?</h3>
            <p>
                We are a technology company since 1998. 
                We always market technological products 
                and components at low prices and reliable 
                ultra-high quality.
            </p>
        </div>
       
        <div>
            <h3>Contact us through our networks</h3>
            <p>
                Whatsapp: 2235678904
                Facebook and Instagram: TechStorex
                TechStorex@gmail.com
            </p>
        </div>        
    </div>
</div>
