*{
    padding: 0px;
    margin: 0px;
}

header{
    background: rgb(46, 44, 44);
    text-align: center;
    color: white;
}

.container{
    text-align: center;
}

.contact{
    background: black;
    margin-bottom: 20px;
    height: 100px;
    font-size: 20px;
    color: white;
}

h4{
    margin: 20px;
}